################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AES_GCM_Demo/.vs/AES_GCM_Demo
